
.part1 {
    background-color: #f1f4f3;
    width: 470px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    
}

.info_perfil {
    padding: 6px 6px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.info_perfil .foto_perfil {
    width: 42px;
    height: 42px;
    background: linear-gradient(to top right, orange, purple);
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.info_perfil .foto_perfil img{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #fff;
    box-sizing: content-box;
}

.posteo img {
    width: 470px;
    height: 500px;
}
.pie_publi {
    background-color: #f1f4f3;
    width: 460px;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 5px;
}
#marcador{
    position: relative;
    left: 390px;
}


